<article class="video clearfix">
  <%= image_tag video.thumbnail, class: "video-thumbnail" %>
  <h2><%= video.title %></h2>
  <p><strong>Recorded:</strong> <time><%= video.created_at %></time></p>
  <p><%= video.description %></h2>
</article>
