<p class="lead">
We are a community of Israeli Ruby developers.
We meet monthly, on the last Monday of each month. We're currently sponsored by <%= link_to "Klarna", "http://www.klarna.com" %> and the <%= link_to "Israel Ruby on Rails Course", "http://ruby.webninjaschool.com/" %>.
Meetings usually have two 45 minute talks about anything Ruby, Rails or web related.
Entrance is absolutely free, you can even grab a bite courtesy of our generous sponsors. Never say no to a free sandwich.
</p>
<h2>Next Event</h2>
<%= render @next_event %>
