@import "bootstrap";

img.company-logo {
  position: relative;
  top: 40px;
  right: 20px;
  float: right;
}

article#job-details {
  padding: 12px 32px 32px 32px;

  h1, h2, h3 {
    margin-top: 24px;
  }

  ul li {
    list-style-type: circle;
  }
}

form#new_job {
  input, textarea {
    width: 75%;
  }
}
