@import "bootstrap";

article.job-summary {
  margin: 20px;
  padding: 20px;
  border: 2px dashed #ccc;
  background: rgba(255, 255, 255, 0.75);
  @include border-radius(12px);

  &:hover {
    background: rgba(255, 255, 255, 1);
    border: 2px dashed #333;
  }
}

img.company-logo {
  position: relative;
  top: 40px;
  right: 20px;
  float: right;
}

article#job-details {
  padding: 12px 32px 32px 32px;

  h1, h2, h3 {
    margin-top: 24px;
  }

  ul li {
    list-style-type: circle;
  }
}

form#new_job {
  input, textarea {
    width: 75%;
  }
}
