@import "bootstrap";

@font-face {
  font-family: 'FFFTusjBold';
  src: url('FFF_Tusj-webfont.eot');
  src: url('FFF_Tusj-webfont.eot?#iefix') format('embedded-opentype'),
  url('FFF_Tusj-webfont.woff') format('woff'),
  url('FFF_Tusj-webfont.ttf') format('truetype'),
  url('FFF_Tusj-webfont.svg#FFFTusjBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OstrichSansMedium';
  src: url('ostrich-regular-webfont.eot');
  src: url('ostrich-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('ostrich-regular-webfont.woff') format('woff'),
  url('ostrich-regular-webfont.ttf') format('truetype'),
  url('ostrich-regular-webfont.svg#OstrichSansMedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body {
  height: 100%;
}

body {
  background-image: url('lollypop.png');
  font-size: 15px;
  line-height: 24px;
  min-width: 1440px;

  a {
    text-decoration: none;
  }
}

h1, h2 {
  font: 40px/48px 'OstrichSansMedium';
}

body>header {
  margin-top: 20px;

  h1 {
    font: 60px/68px 'FFFTusjBold';
    display: inline;
    position: relative;
    top: 16px;
    left: 80px;

    a {
      color: #971E18;
    }
  }

  h2 {
    position: relative;
    top: -75px;
    left: 380px;
    font-size: 22px;
  }

  height: 0px;

  img#logo {
    float: right;
    margin: 24px 100px;
    width: 198px;
  }
}

section#main {
  background-image: url('clean_textile.png');
  width: 67%;
  height: 100%;
  margin-top: 100px;
  padding: 25px 0 0 75px;
  border-top: 2px solid #971E18;
  border-right: 2px solid #971E18;
  float: left;
  @include box-shadow(3px 3px 5px #aaa);
  @include border-radius(0 35px 0 0);

  footer {
    nav ul {
      float:right;
      margin-top: 20px;
      li {
        display: inline;
        list-style: none;
        margin-right: 40px;
      }
    }
  }
}

section#content {
  margin-right: 80px;
}

aside {
  float: left;
  width: 300px;
  margin-left: 30px;

  section#hiring {
    margin: 40px 0 0 28px;
  }

  ul#social-media {
    li {
      display: inline;
      list-style: none;
      margin-right: 4px;

      img {
        width: 80px;
        height: 80px;
        opacity: 0.75;
      }
    }
  }
}

footer {
  nav ul li {
    display: inline;
    list-style: none;
  }
}

article {
  margin: 20px;
  padding: 20px;
  border: 2px dashed #ccc;
  background: rgba(255, 255, 255, 0.75);
  @include border-radius(12px);

  &:hover {
    background: rgba(255, 255, 255, 1);
    border: 2px dashed #333;
  }
}
